# --- Local (SQLite, sin instalar nada extra) ---
DATABASE_URL=sqlite:///travelpath.db

# --- Render.com (PostgreSQL de Neon) ---
# DATABASE_URL=postgresql://user:pass@ep-xxx.neon.tech/neondb?sslmode=require

JWT_SECRET_KEY=tu_clave_secreta_muy_larga_aqui_al_menos_32_chars
JWT_ACCESS_TOKEN_EXPIRES=86400
API_COLOMBIA_BASE_URL=https://api-colombia.com/api/v1
FLASK_ENV=development
FLASK_DEBUG=True
